.App {
  font-family: sans-serif;
  text-align: center;
}

#clock-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.timer {
  color: white;
  padding: 50%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.forms {
  display: flex;
  align-items: center;
  justify-content: center;
}

.md-form input[type='number']:focus {
  color: white !important;
}

path {
  stroke-width: 30;
  stroke: white;
  stroke-linecap: round;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-name: dash;
  animation-direction: linear;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
  10% {
    stroke: blue;
  }
  25% {
    stroke: green;
  }
  45% {
    stroke: orange;
  }
  50% {
    stroke: red;
  }
  100% {
    stroke: red;
  }
}

.circle2 {
  fill: #1575e3;
}

.timeup {
  fill: red;
  stroke: red;
  stroke-width: 30;
}

.qotd {
  color: white;
}
