.App {
  font-family: sans-serif;
  text-align: center;
}

#pomodoro-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.timer-div {
  border: 5px solid white;
  padding: 10px;
  border-radius: 50%;
  height: 40%;
  width: 40%;
}

.timer {
  color: white;
  padding: 20%;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
